<article class="px-4 py-12 mt-8 md:mt-72 xl:mt-80 lg:py-16 bg-light-grey bg-[url('/images/bg.svg')] bg-no-repeat bg-cover bg-center">
    <div class="mx-auto prose max-w-screen-2xl sm:px-6 lg:px-8 md:w-full">
        <h1 class="mb-8 text-4xl font-light sm:text-6xl font-display">
            {{ about.title }}
        </h1>
        <p class="w-full mb-24 lg:w-2/6">{{about.desc | safe}}</p>
        <p>
            <a class="relative px-8 py-4 font-normal no-underline transition-colors duration-300 ease-in-out bg-transparent box-corners" href="{{about.link.url}}">{{about.link.label}}</a>
        </p>
    </div>
</article>