<article class="px-4 py-12 mt-72 xl:mt-80 lg:py-16 bg-light-grey bg-[url('/images/bg.svg')] bg-no-repeat bg-cover bg-center">
    <h1 class="mx-auto mb-16 text-4xl font-light max-w-screen-2xl sm:px-6 lg:px-8 md:w-full sm:text-6xl font-display">
        {{ about.title }}
    </h1>
    <p class="mx-auto max-w-screen-2xl sm:px-6 lg:px-8">
        <a class="relative px-8 py-4 ml-0 transition-colors duration-300 ease-in-out bg-transparent lg:ml-16 box-corners" href="{{about.link.url}}">{{about.link.label}}</a>
    </p>
</article>