/*! purgecss start ignore */
@tailwind base;
/*! purgecss end ignore */

@import "base/all";

@tailwind components;

/* work-sans-regular - latin */
/* work-sans-300 - latin */
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/work-sans-v5-latin-300.eot");
  src: local("Work Sans Light"), local("WorkSans-Light"),
    url("/assets/work-sans-v5-latin-300.eot?#iefix") format("embedded-opentype"),
    url("/assets/work-sans-v5-latin-300.woff2") format("woff2"),
    url("/assets/work-sans-v5-latin-300.woff") format("woff"),
    url("/assets/work-sans-v5-latin-300.ttf") format("truetype"),
    url("/assets/work-sans-v5-latin-300.svg#WorkSans") format("svg");
  font-display: swap;
}
/* work-sans-regular - latin */
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/work-sans-v5-latin-regular.eot");
  src: local("Work Sans"), local("WorkSans-Regular"),
    url("/assets/work-sans-v5-latin-regular.eot?#iefix") format("embedded-opentype"),
    url("/assets/work-sans-v5-latin-regular.woff2") format("woff2"),
    url("/assets/work-sans-v5-latin-regular.woff") format("woff"),
    url("/assets/work-sans-v5-latin-regular.ttf") format("truetype"),
    url("/assets/work-sans-v5-latin-regular.svg#WorkSans") format("svg");
  font-display: swap;
}
/* work-sans-600 - latin */
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/work-sans-v5-latin-600.eot");
  src: local("Work Sans SemiBold"), local("WorkSans-SemiBold"),
    url("/assets/work-sans-v5-latin-600.eot?#iefix") format("embedded-opentype"),
    url("/assets/work-sans-v5-latin-600.woff2") format("woff2"),
    url("/assets/work-sans-v5-latin-600.woff") format("woff"),
    url("/assets/work-sans-v5-latin-600.ttf") format("truetype"),
    url("/assets/work-sans-v5-latin-600.svg#WorkSans") format("svg");
  font-display: swap;
}
@import "components/all";

@tailwind utilities;

body {
  background-attachment: fixed;
  background-image: url("/bg.svg");
  background-position: bottom right -10rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.is-active-link {
  @apply .text-white .border-b border-white;
}
