/*! purgecss start ignore */
@tailwind base;
/*! purgecss end ignore */

@import "base/all";

@tailwind components;

@import "components/all";

@tailwind utilities;

body {
  background-image: url("/bg.svg");
  background-position: bottom right -10rem;
  background-repeat: no-repeat;
  background-size: contain;
}
