/* lexend-mega-regular - latin */

@font-face {
    font-family: 'Lexend Mega';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/lexend-mega-v14-latin-regular.eot');
    src: local(''), url('/assets/lexend-mega-v14-latin/lexend-mega-v14-latin-regular.eot?#iefix') format('embedded-opentype'), url('/assets/lexend-mega-v14-latin/lexend-mega-v14-latin-regular.woff2') format('woff2'), url('/assets/lexend-mega-v14-latin/lexend-mega-v14-latin-regular.woff') format('woff'), url('/assets/lexend-mega-v14-latin/lexend-mega-v14-latin-regular.ttf') format('truetype'), url('/assets/lexend-mega-v14-latin/lexend-mega-v14-latin-regular.svg#LexendMega') format('svg');
}


/* lexend-100 - latin */

@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 100;
    src: url('/assets/lexend-v5-latin/lexend-v5-latin-100.eot');
    src: local(''), url('/assets/lexend-v5-latin/lexend-v5-latin-100.eot?#iefix') format('embedded-opentype'), url('/assets/lexend-v5-latin/lexend-v5-latin-100.woff2') format('woff2'), url('/assets/lexend-v5-latin/lexend-v5-latin-100.woff') format('woff'), url('/assets/lexend-v5-latin/lexend-v5-latin-100.ttf') format('truetype'), url('/assets/lexend-v5-latin/lexend-v5-latin-100.svg#Lexend') format('svg');
}


/* lexend-300 - latin */

@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 300;
    src: url('/assets/lexend-v5-latin/lexend-v5-latin-300.eot');
    src: local(''), url('/assets/lexend-v5-latin/lexend-v5-latin-300.eot?#iefix') format('embedded-opentype'), url('/assets/lexend-v5-latin/lexend-v5-latin-300.woff2') format('woff2'), url('/assets/lexend-v5-latin/lexend-v5-latin-300.woff') format('woff'), url('/assets/lexend-v5-latin/lexend-v5-latin-300.ttf') format('truetype'), url('/assets/lexend-v5-latin/lexend-v5-latin-300.svg#Lexend') format('svg');
}


/* lexend-regular - latin */

@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/lexend-v5-latin/lexend-v5-latin-regular.eot');
    src: local(''), url('/assets/lexend-v5-latin/lexend-v5-latin-regular.eot?#iefix') format('embedded-opentype'), url('/assets/lexend-v5-latin/lexend-v5-latin-regular.woff2') format('woff2'), url('/assets/lexend-v5-latin/lexend-v5-latin-regular.woff') format('woff'), url('/assets/lexend-v5-latin/lexend-v5-latin-regular.ttf') format('truetype'), url('/assets/lexend-v5-latin/lexend-v5-latin-regular.svg#Lexend') format('svg');
}


/* lexend-500 - latin */

@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/lexend-v5-latin/lexend-v5-latin-500.eot');
    src: local(''), url('/assets/lexend-v5-latin/lexend-v5-latin-500.eot?#iefix') format('embedded-opentype'), url('/assets/lexend-v5-latin/lexend-v5-latin-500.woff2') format('woff2'), url('/assets/lexend-v5-latin/lexend-v5-latin-500.woff') format('woff'), url('/assets/lexend-v5-latin/lexend-v5-latin-500.ttf') format('truetype'), url('/assets/lexend-v5-latin/lexend-v5-latin-500.svg#Lexend') format('svg');
}


/* lexend-600 - latin */

@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    src: url('/assets/lexend-v5-latin/lexend-v5-latin-600.eot');
    src: local(''), url('/assets/lexend-v5-latin/lexend-v5-latin-600.eot?#iefix') format('embedded-opentype'), url('/assets/lexend-v5-latin/lexend-v5-latin-600.woff2') format('woff2'), url('/assets/lexend-v5-latin/lexend-v5-latin-600.woff') format('woff'), url('/assets/lexend-v5-latin/lexend-v5-latin-600.ttf') format('truetype'), url('/assets/lexend-v5-latin/lexend-v5-latin-600.svg#Lexend') format('svg');
}


/* lexend-700 - latin */

@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/lexend-v5-latin/lexend-v5-latin-700.eot');
    src: local(''), url('/assets/lexend-v5-latin/lexend-v5-latin-700.eot?#iefix') format('embedded-opentype'), url('/assets/lexend-v5-latin/lexend-v5-latin-700.woff2') format('woff2'), url('/assets/lexend-v5-latin/lexend-v5-latin-700.woff') format('woff'), url('/assets/lexend-v5-latin/lexend-v5-latin-700.ttf') format('truetype'), url('/assets/lexend-v5-latin/lexend-v5-latin-700.svg#Lexend') format('svg');
}


/* lexend-800 - latin */

@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 800;
    src: url('/assets/lexend-v5-latin/lexend-v5-latin-800.eot');
    src: local(''), url('/assets/lexend-v5-latin/lexend-v5-latin-800.eot?#iefix') format('embedded-opentype'), url('/assets/lexend-v5-latin/lexend-v5-latin-800.woff2') format('woff2'), url('/assets/lexend-v5-latin/lexend-v5-latin-800.woff') format('woff'), url('/assets/lexend-v5-latin/lexend-v5-latin-800.ttf') format('truetype'), url('/assets/lexend-v5-latin/lexend-v5-latin-800.svg#Lexend') format('svg');
}

@import "base/all";
@import "components/all";
html.sr .load-hidden {
    visibility: hidden;
}

body.menu-open {
    overflow: hidden;
}

.is-active-link {
    @apply text-indigo-800 border-b border-indigo-800;
}

.blend-overlay {
    mix-blend-mode: overlay;
}

.blend-multiply {
    mix-blend-mode: multiply;
}

.content.post {
    h2 {
        @apply mb-1 text-3xl;
    }
}