{% extends "layouts/plain.njk" %}
{% block content %}
  <main class="flex items-center justify-center min-h-screen bg-red-700">
    <div class="max-w-2xl px-4 py-16 mx-auto text-center sm:py-20 sm:px-6 lg:px-8">
      <h2 class="font-extrabold leading-10 text-white animate-pulse text-7xl">
        404
      </h2>
      <p class="mt-4 text-lg leading-6 text-red-200">
        Take me back
        <a href="/" class="font-bold underline transition duration-150 ease-in-out">
          home
        </a>
      </p>
    </div>
  </main>
{% endblock %}