---
meta:
  site:
    name: Charles E. Amyx, III
    description: Site description
    url: 'https://charlesamyx.com'
  sameAs: 'https://www.linkedin.com/in/charbot/'
  language: en-US
  image:
    src: "https://charlesamyx.com/charles_amyx.jpg"
  jobTitle: "Senior Web Designer and Developer"
---
{% extends "layouts/base.njk" %}
{% block content %}
  <main tabindex="-1">
    {% include "components/featured.njk" %}
    {% include "components/about.njk" %}
  </main>
{% endblock %}