{% extends "layouts/base.njk" %}
{% block content %}
  <main class="pb-32" tabindex="-1">

    <div class="px-4 py-12 mx-auto -mt-12 lg:mt-72 xl:mt-80 max-w-screen-2xl sm:px-6 lg:px-8 lg:py-16">

      <div class="items-center w-full grid-cols-12 gap-36 xl:grid" x-data="{ visible: false }" x-intersect="visible = true" ></div>

    </div>
  </main>
{% endblock %}