<!DOCTYPE html>
<html class="antialiased leading-tight text-slate-900" lang="en" >
  <head>
    {% include "partials/site-head.njk" %}
  </head>
  <body class="bg-white border-t-4 border-primary" x-data="{ isMobileNavOpen: false }" data-env="{{ node.env }}" :class="{ 'overflow-hidden': isMobileNavOpen }">
    {% include "partials/site-header.njk" %}
    {% block content %}
      <main id="main-content" tabindex="-1" x-data="{ shown: false }" x-intersect="shown = true">
        <section class="py-8 sm:py-16 bg-light-green bg-opacity-25 bg-[url('/images/bg.svg')]">
          <div class="max-w-screen-xl px-4 mx-auto">
            <h1 class="text-3xl font-bold text-primary sm:text-5xl font-display">
              {{ title | safe }}
            </h1>
            <div class="w-full mt-8 leading-8 lg:w-2/3">
              <p class="mb-0 text-2xl">{{ meta.desc | safe }}</p>
            </div>
          </div>
        </section>
        <section class="py-8 sm:py-16">
          <div class="px-4 mx-auto max-w-screen-2xl">
            {{ content | safe }}
          </div>
        </section>
      </main>
    {% endblock %}
    <script type="module" src="/main.js"></script>
  </body>
</html>