---
meta:
  site:
    name: Charles E. Amyx, III
    description: Site description
    url: 'https://charlesamyx.com'
  sameAs: 'https://www.linkedin.com/in/charbot/'
  language: en-US
  image:
    src: 'https://charlesamyx.com/charles_amyx.jpg'
  jobTitle: "Senior Web Designer and Developer"
---
<!DOCTYPE html>
<html class="font-sans antialiased text-primary scroll-smooth" lang="en" >
  <head>
    {% include "partials/site-head.njk" %}
  </head>
  <body class="relative min-h-screen bg-white border-t-4 border-primary" x-data="{ isMobileNavOpen: false }" data-env="{{ node.env }}" :class="{ 'overflow-hidden': isMobileNavOpen }">
    {% include "partials/site-header.njk" %}
    {% block content %}
      <main id="main-content" tabindex="-1" x-data="{ shown: false }" x-intersect="shown = true">
        <section class="py-8 sm:py-16 bg-light-grey">
          <div class="px-4 mx-auto max-w-screen-2xl">
            <h1 class="text-3xl font-bold text-primary sm:text-5xl font-display">
              {{ title | safe }}
            </h1>
          </div>
        </section>
        <section class="px-4 py-8 mx-auto bg-white sm:py-16 max-w-screen-2xl">
          {% if collections.job %}
            <div class="relative items-center w-full grid-cols-12 gap-36 xl:grid">
              <article class="col-span-10 lg:flex">
                <div class="w-full p-8 text-white bg-primary lg:w-4/6 md:order-first">
                  <ul class="w-full p-0 list-none lg:w-2/3">
                    {%- for post in collections.job | reverse -%}
                      <li class="mb-16 last:mb-0">
                        <div class="relative before:w-6 before:h-px before:border-t before:border-white text-sm font-light tracking-widest before:content-[''] before:top-56p before:absolute before:-left-8">
                          {{ post.data.startDate }} -
                          {{ post.data.endDate }}
                        </div>
                        <div class="text-2xl font-bold tracking-wide font-display">
                          {{ post.data.company }}
                        </div>
                        <div class="mb-6 text-sm tracking-widest uppercase">{{ post.data.title }}</div>
                        <p class="text-base">
                          {{ post.data.description }}
                        </p>
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
                <div class="self-stretch hidden w-full lg:block lg:w-2/6">
                  <picture>
                    <source class="object-cover" media="(min-width: 1136px)" type="image/webp" width="100%" height="auto" srcset="{{ image.webpPath }}">
                    <source class="object-cover" media="(min-width: 1136px)" type="image/jpeg" width="100%" height="auto" srcset="{{ image.jpgPath }}">
                    <img class="object-cover w-full h-full" width="1136" height="529" src="{{ image.jpgPath }}" alt="{{ image.alt }}">
                  </picture>
                </div>
              </article>
              <article class="right-0 p-16 prose bg-white top-28 lg:absolute lg:w-2/5 corner">
                <h2 class="mb-2 text-2xl tracking-wide uppercase md:tracking-widest">Expertise</h2>
                <p class="mb-0">{{ content | safe }}</p>
              </article>
            </div>
          {% endif %}

        </section>
      </main>
    {% endblock %}
    <script type="module" src="/main.js"></script>
  </body>
</html>