{% if title == "Home" %}
  <header class="bg-no-repeat bg-light-grey bg-[url('/images/bg.svg')] lg:h-770 xl:h-650">
  {% else %}
    <header class="bg-light-grey">
    {% endif %}
    <div class="px-4 py-8 mx-auto max-w-screen-2xl sm:px-6 lg:px-8">
      <div class="flex items-center justify-between">
        <div class="md:flex md:items-center">
          <a class="block" href="/">
            <span class="sr-only">Home</span>
          </a>
        </div>
        <div class="hidden ml-auto md:block">

          <nav role="navigation" aria-label="main" aria-labelledby="header-navigation">
            <h2 class="sr-only" id="header-navigation">Header navigation</h2>
            <ul class="items-center gap-16 text-base font-medium uppercase md:flex">
              {% for item in navigation.items %}
                {% if item.url == page.url %}
                  {%
            set highlight = 'cursor-default' %}
                  {% set current =
            'aria-current=true' %}
                  {% set highlight = 'border-b-2 border-primary' %}
                {%
            else %}
                  {% set highlight = 'no-underline' %}
                  {% set current = '' %}
                {% endif %}
                <li>
                  <a href="{{ item.url }}" class="text-primary transition border-b border-transparent pb-1 hover:border-primary hover:text-primary/90 focus:text-primary/90 {{ highlight }}" {{
                current
                }}>
                    {{ item.text }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </nav>

        </div>
        <div class="absolute inset-0 z-40" :class="{ 'block shadow-3xl bg-primary': isMobileNavOpen, 'hidden': !isMobileNavOpen }" @click.away="isMobileNavOpen = false" x-show="isMobileNavOpen" x-show.transition="true" x-cloak>

          <nav role="navigation" aria-label="main" aria-labelledby="mobile-navigation">
            <h2 class="sr-only" id="mobile-navigation">Mobile navigation</h2>
            <ul class="p-16 text-xl text-center">
              {% for item in navigation.items %}
                {% if item.url == page.url %}
                  {%
            set highlight = 'cursor-default' %}
                  {% set current =
            'aria-current=true' %}
                  {% set highlight = 'underline' %}
                {%
            else %}
                  {% set highlight = 'no-underline' %}
                  {% set current = '' %}
                {% endif %}
                <li class="mb-6">
                  <a href="{{ item.url }}" class="text-white font-bold transition hover:text-white/75 focus:text-white/75 {{ highlight }}" {{
                current
                }}>
                    {{ item.text }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </nav>

        </div>
        <div class="flex items-center gap-4">
          <div class="block md:hidden">
            <button @click="isMobileNavOpen = !isMobileNavOpen" type="button" class="relative z-50 p-2 transition rounded bg-gray-50" :class="{ 'transition transform-180': isMobileNavOpen }" x-bind:aria-label="isMobileNavOpen ? 'Close main menu' : 'Main menu'"
              aria-label="Main menu"
              x-bind:aria-expanded="isMobileNavOpen">
              <span class="sr-only">Mobile Menu</span>
              <svg
                            class="w-6 h-6 fill-current"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            >
                <path
                                x-show="isMobileNavOpen"
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"
/>
                <path
                                x-show="!isMobileNavOpen"
                                fill-rule="evenodd"
                                d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
/>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    {% if title == "Home" %}

      {% include "components/hero.njk" %}
    {% endif %}
  </header>